
.ticket{
    display:flex;
    justify-content: center;
    margin-bottom:100px;
}
.left {
    width: 780px;
    height:320px;
    background-color: #FAFAFA ;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.header{
    display:flex; 
    align-content: center;  
} 

.logo{
    margin: 25px 25px 0px 50px;
}
.left .header .title{
    width: 203px;
    height: 42px;
    margin-top: 20px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
}

.left hr{
    width: 695px;
    border: 2px solid #639EE3;
    margin-bottom: 20px;

}
.icons {
    display : flex;
    margin-left: 55px;
}
.icons .item{
    margin-right: 25px;
    text-align: center;
    border: 2px solid #B2C1F3;
    display: flex;
    padding: 5px 15px 5px;    
}

.what{
    font-size: 20px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.info{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}


.infos{
    display:flex;
    margin-left: 55px;
    flex-wrap: wrap;

}
.infos .item{
    margin-right: 100px;
    margin-top:11px;
}

.infos .item:first-child{
    margin-right:500px;
}
.infos .what{
    font-size: 16px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    text-align: left;
    color: #000000;
}

.infos .info{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    text-align: left;
    color: #000000;
}
.right{
    width:300px;
    height :320px;
    background-color: #9eccf7;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.right .header{
    display:flex;
    justify-content: center;
}
.right .header .title{
    width: 250px;
    height: 40px;
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}

.right hr {
    width: 250px;
    border: 2px solid #FFFFFF;  
    margin-bottom: 20px;
}